.DS_Store
.ansible
.bundle
.envrc
.github/
.idea/
.vagrant
npm-debug.log
package.box
playbook.retry
vendor
*.swp
Thumbs.db
Desktop.ini
*.retry

wordpress/*
!wordpress/wp-content
wordpress/wp-content/*
!wordpress/wp-content/plugins
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/bergclub-plugin
